/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: "ethnocentric-italic";
  src: url(../font/ethnocentric.rg-italic.otf); }

@font-face {
  font-family: "ethnocentric";
  src: url(../font/ethnocentricrg.otf); }

@font-face {
  font-family: "montserrat";
  src: url(../../font/Montserrat-Bold.ttf); }

/*estilos para celulares*/
/*estilos index*/
body {
  background-color: #ffff;
  height: 100vh;
  /*estilos header*/
  /*estilos main*/ }
  body header nav {
    background: linear-gradient(to right, #e1e9ee, #6E99B3); }
    body header nav .container-fluid .full-logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #ffff;
      font-size: 1.3rem;
      font-family: "ethnocentric-italic"; }
      body header nav .container-fluid .full-logo .ervi {
        font-weight: bold;
        letter-spacing: 0.4rem;
        margin: 0;
        margin-left: 0.4rem; }
      body header nav .container-fluid .full-logo .g {
        font-size: 1.7em;
        font-weight: bolder;
        margin: 0; }
      body header nav .container-fluid .full-logo:hover {
        animation: swing 1s ease-in-out; }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(10deg); }
  30% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(6deg); }
  70% {
    transform: rotate(-4deg); }
  90% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0deg); } }
    body header nav .container-fluid .navbar-toggler:hover {
      background-color: #ffff; }
    body header nav .container-fluid #navbarNav {
      text-align: end; }
      body header nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link {
        font-family: "ethnocentric";
        color: #fff; }
        body header nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link:hover {
          color: #5c7a92; }
  body header .header__banner {
    display: none; }
  body .main--index {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    text-align: center;
    font-family: "ethnocentric"; }
    body .main--index .main__resumen--uno {
      color: #6e99b3;
      font-family: "ethnocentric";
      width: 100vw; }
      body .main--index .main__resumen--uno h2 {
        font-size: 1.3em;
        padding: 4rem;
        line-height: 1.5; }
        body .main--index .main__resumen--uno h2 span {
          font-size: 0.9em;
          display: none; }
      body .main--index .main__resumen--uno img {
        display: block;
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 0%; }
    body .main--index .main__resumen--dos, body .main--index .main__resumen--tres, body .main--index .main__resumen--cuatro {
      width: 100vw;
      height: 100%;
      color: #ffff;
      background: linear-gradient(#6e99b3, #d9e1e6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "montserrat";
      font-size: 1.3rem; }
      body .main--index .main__resumen--dos h3, body .main--index .main__resumen--tres h3, body .main--index .main__resumen--cuatro h3 {
        padding: 8rem 4rem 4rem 4rem;
        font-size: 1.5em; }
      body .main--index .main__resumen--dos img, body .main--index .main__resumen--tres img, body .main--index .main__resumen--cuatro img {
        display: block;
        height: 25rem;
        width: auto;
        object-fit: contain;
        padding: 0rem 2rem 2rem 2rem;
        border-radius: 30%; }
    body .main--index .main__resumen--tres {
      background: linear-gradient(#d9e1e6, #6e99b3); }
      body .main--index .main__resumen--tres h4 {
        padding: 8rem 4rem 4rem 4rem;
        font-size: 1.5em; }
      body .main--index .main__resumen--tres img {
        border-radius: 30%; }
    body .main--index .main__resumen--cuatro {
      background: linear-gradient(#6e99b3, #d9e1e6); }
      body .main--index .main__resumen--cuatro h5 {
        font-size: 1.5em;
        padding: 4rem; }
        body .main--index .main__resumen--cuatro h5 .full-logo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          color: #ffff;
          font-size: 1.3rem;
          font-family: "ethnocentric-italic"; }
          body .main--index .main__resumen--cuatro h5 .full-logo .ervi {
            font-weight: bold;
            letter-spacing: 0.4rem;
            margin: 0;
            margin-left: 0.4rem; }
          body .main--index .main__resumen--cuatro h5 .full-logo .g {
            font-size: 1.7em;
            font-weight: bolder;
            margin: 0; }
          body .main--index .main__resumen--cuatro h5 .full-logo:hover {
            animation: swing 1s ease-in-out; }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(10deg); }
  30% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(6deg); }
  70% {
    transform: rotate(-4deg); }
  90% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0deg); } }
      body .main--index .main__resumen--cuatro img {
        padding: 0rem 4rem 5rem 4rem;
        border-radius: 0%; }
  body .footer {
    background: linear-gradient(#d9e1e6, #6e99b3);
    width: 100vw;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .footer .footer__tex {
      font-size: 1em;
      color: #ffff;
      font-family: "ethnocentric";
      text-align: center; }
    body .footer .footer__img--redes img {
      height: 20px;
      width: auto; }

/*tablets*/
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column; }
    body .main--index .main__resumen--uno {
      position: relative; }
      body .main--index .main__resumen--uno h2 {
        position: absolute;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 20rem;
        text-align: center;
        color: white; }
      body .main--index .main__resumen--uno img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden; }
    body .main--index .main__resumen--dos, body .main--index .main__resumen--tres, body .main--index .main__resumen--cuatro {
      font-family: "montserrat";
      font-size: 1.3rem; } }

/* large devices*/
@media screen and (min-width: 1024px) {
  body .main--index .main__resumen--uno {
    position: relative; }
    body .main--index .main__resumen--uno h2 {
      position: absolute;
      top: 50%;
      left: 18%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 30rem;
      text-align: center;
      color: white; }
      body .main--index .main__resumen--uno h2 span {
        display: block;
        font-size: 0.9em; }
    body .main--index .main__resumen--uno img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden; }
  body .main--index .main__image--uno {
    margin-bottom: 4rem;
    height: 80vh; }
  body .main--index .main__resumen--dos, body .main--index .main__resumen--tres, body .main--index .main__resumen--cuatro {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "ethnocentric"; }
    body .main--index .main__resumen--dos img, body .main--index .main__resumen--tres img, body .main--index .main__resumen--cuatro img {
      width: 50%;
      border-radius: 30%;
      padding: 0px;
      height: auto; }
  body .main--index .main__resumen--tres {
    background: linear-gradient(#d9e1e6, #6e99b3); }
    body .main--index .main__resumen--tres h4 {
      color: #fff; }
    body .main--index .main__resumen--tres img {
      padding: 0px; }
  body .main--index .main__resumen--cuatro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 2rem; }
    body .main--index .main__resumen--cuatro img {
      width: 100%; } }

@font-face {
  font-family: "ethnocentric-italic";
  src: url(../font/ethnocentric.rg-italic.otf); }

@font-face {
  font-family: "ethnocentric";
  src: url(../font/ethnocentricrg.otf); }

@font-face {
  font-family: "montserrat";
  src: url(../../font/Montserrat-Bold.ttf); }

/*estilo celular*/
body {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  height: 100%; }
  body .main--nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: 100%;
    row-gap: 0px;
    text-align: center;
    font-family: "ethnocentric";
    color: #6e99b3; }
    body .main--nosotros .main__nosotros--resume {
      padding: 5rem;
      font-family: "ethnocentric";
      height: 100%; }
      body .main--nosotros .main__nosotros--resume h2 {
        margin-bottom: 3rem; }
      body .main--nosotros .main__nosotros--resume .main__nosotros--texto {
        display: none; }
      body .main--nosotros .main__nosotros--resume h3 {
        font-size: 1rem; }
    body .main--nosotros .main__nosotros--img {
      display: none; }
  body .main__nosotros--footer {
    background: linear-gradient(#d9e1e6, #6e99b3);
    width: 100vw;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .main__nosotros--footer .footer__tex {
      font-size: 1em;
      color: #ffff;
      font-family: "ethnocentric";
      text-align: center; }
    body .main__nosotros--footer .footer__img--redes img {
      height: 20px;
      width: auto; }

/*estilos tablet*/
@media screen and (min-width: 768px) {
  body .main--nosotros .main__nosotros--resume {
    padding: 5rem;
    font-family: "ethnocentric"; }
    body .main--nosotros .main__nosotros--resume h2 {
      margin-bottom: 3rem; }
    body .main--nosotros .main__nosotros--resume .main__nosotros--texto {
      display: block; }
    body .main--nosotros .main__nosotros--resume h3 {
      display: none; } }

@media screen and (min-height: 700px) {
  body .main--nosotros {
    height: 90vh; } }

/*estilos desktop*/
@media screen and (min-width: 1024px) {
  body .main--nosotros {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center; }
    body .main--nosotros .main__nosotros--resume {
      padding: 5rem;
      font-family: "ethnocentric"; }
      body .main--nosotros .main__nosotros--resume h2 {
        margin-bottom: 3rem; }
      body .main--nosotros .main__nosotros--resume .main__nosotros--texto {
        display: block; }
      body .main--nosotros .main__nosotros--resume h3 {
        display: none; }
    body .main--nosotros .main__nosotros--img {
      display: block;
      height: 100%; }
      body .main--nosotros .main__nosotros--img img {
        height: 40rem;
        width: auto;
        object-fit: contain; } }

@font-face {
  font-family: "ethnocentric-italic";
  src: url(../font/ethnocentric.rg-italic.otf); }

@font-face {
  font-family: "ethnocentric";
  src: url(../font/ethnocentricrg.otf); }

@font-face {
  font-family: "montserrat";
  src: url(../../font/Montserrat-Bold.ttf); }

body .main__login {
  background-color: #ffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  body .main__login form {
    height: 20rem; }
    body .main__login form fieldset {
      padding: 1.5rem 1.5rem 0rem 1.5rem;
      border: none;
      background: linear-gradient(#d9e1e6, #6e99b3);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
      body .main__login form fieldset legend {
        display: none; }
      body .main__login form fieldset .main__login--ingreso {
        margin-bottom: 1.5rem; }
        body .main__login form fieldset .main__login--ingreso input {
          border: none;
          width: 100%;
          padding: 0.5rem;
          border-radius: 3px; }
      body .main__login form fieldset .main__login--buttonis input {
        background-color: transparent;
        color: #ffff;
        border: none;
        width: 100%;
        padding: 1rem;
        border-radius: 3px;
        cursor: pointer;
        font-family: "ethnocentric-italic"; }
        body .main__login form fieldset .main__login--buttonis input:hover {
          background-color: #ffff;
          color: #6E99B3; }
      body .main__login form fieldset .main__login--register {
        font-family: "ethnocentric";
        color: #ffff;
        text-align: center;
        padding: 1.5rem 1rem 0rem 1rem; }
        body .main__login form fieldset .main__login--register p {
          font-size: 0.6rem; }
          body .main__login form fieldset .main__login--register p span {
            font-family: "ethnocentric-italic";
            cursor: pointer;
            padding: 0.5rem; }
            body .main__login form fieldset .main__login--register p span:hover {
              background-color: #ffff;
              color: #6E99B3; }

body .footer {
  background: linear-gradient(#d9e1e6, #6e99b3);
  width: 100vw;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body .footer .footer__tex {
    font-size: 1em;
    color: #ffff;
    font-family: "ethnocentric";
    text-align: center; }
  body .footer .footer__img--redes img {
    height: 20px;
    width: auto; }

@font-face {
  font-family: "ethnocentric-italic";
  src: url(../font/ethnocentric.rg-italic.otf); }

@font-face {
  font-family: "ethnocentric";
  src: url(../font/ethnocentricrg.otf); }

@font-face {
  font-family: "montserrat";
  src: url(../../font/Montserrat-Bold.ttf); }

/*estilos contacto*/
body .main__contacto {
  background-color: #ffff;
  display: flex;
  justify-content: center; }
  body .main__contacto form {
    margin: 2rem;
    height: 100%; }
    body .main__contacto form fieldset {
      padding: 0px;
      border: none;
      background: linear-gradient(#d9e1e6, #6e99b3);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
      body .main__contacto form fieldset ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%; }
        body .main__contacto form fieldset ul li {
          padding: 1.5rem 2rem 0rem 2rem;
          display: block;
          width: 100%;
          border: none;
          border-radius: 3px; }
          body .main__contacto form fieldset ul li input {
            display: block;
            width: 100%;
            padding: 0.7rem;
            border: none;
            border-radius: 3px; }
          body .main__contacto form fieldset ul li #mensaje {
            display: block;
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: none;
            border-radius: 3px; }
        body .main__contacto form fieldset ul .button-enviar input {
          background-color: transparent;
          color: #ffff;
          margin-bottom: 0.5rem;
          border: none;
          width: 100%;
          padding: 0.5rem;
          border-radius: 3px;
          cursor: pointer;
          font-family: "ethnocentric-italic"; }
        body .main__contacto form fieldset ul .button-enviar input:hover {
          background-color: #ffff;
          color: #6E99B3; }

body .footer {
  background: linear-gradient(#d9e1e6, #6e99b3);
  width: 100vw;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0px; }
  body .footer .footer__tex {
    font-size: 1em;
    color: #ffff;
    font-family: "ethnocentric";
    text-align: center; }
  body .footer .footer__img--redes img {
    height: 20px;
    width: auto; }

@media screen and (min-height: 800px) {
  body .main__contacto {
    height: 90vh; }
    body .main__contacto form {
      margin: 4rem; } }

@font-face {
  font-family: "ethnocentric-italic";
  src: url(../font/ethnocentric.rg-italic.otf); }

@font-face {
  font-family: "ethnocentric";
  src: url(../font/ethnocentricrg.otf); }

@font-face {
  font-family: "montserrat";
  src: url(../../font/Montserrat-Bold.ttf); }

body .main__landing {
  background-color: #ffff;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }
  body .main__landing h1 {
    padding: 3rem 0rem 0rem 0rem;
    font-family: "ethnocentric-italic";
    color: #6e99b3;
    background-image: linear-gradient(to right, #6E99B3, #e1e9ee);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    display: none; }
  body .main__landing .main__landing--servicios--pacientes, body .main__landing .main__landing--servicios--consultorio, body .main__landing .main__landing--servicios--cirugias, body .main__landing .main__landing--servicios--facturacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 2rem 0rem; }
    body .main__landing .main__landing--servicios--pacientes img, body .main__landing .main__landing--servicios--consultorio img, body .main__landing .main__landing--servicios--cirugias img, body .main__landing .main__landing--servicios--facturacion img {
      display: block;
      height: 20rem;
      width: auto;
      object-fit: contain;
      padding: 1rem; }
    body .main__landing .main__landing--servicios--pacientes .main__landing--servicios--booton, body .main__landing .main__landing--servicios--consultorio .main__landing--servicios--booton, body .main__landing .main__landing--servicios--cirugias .main__landing--servicios--booton, body .main__landing .main__landing--servicios--facturacion .main__landing--servicios--booton {
      margin-top: 0px;
      border-radius: 3px;
      font-family: "ethnocentric";
      color: #6e99b3; }
    body .main__landing .main__landing--servicios--pacientes:hover, body .main__landing .main__landing--servicios--consultorio:hover, body .main__landing .main__landing--servicios--cirugias:hover, body .main__landing .main__landing--servicios--facturacion:hover {
      cursor: pointer; }
  body .main__landing .main__landing--servicios--facturacion {
    margin-bottom: 4rem; }

body .main__landing--footer {
  background: linear-gradient(#d9e1e6, #6e99b3);
  width: 100vw;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body .main__landing--footer .footer__tex {
    font-size: 1em;
    color: #ffff;
    font-family: "ethnocentric";
    text-align: center; }
  body .main__landing--footer .footer__img--redes img {
    height: 20px;
    width: auto; }

/*vision tablets*/
@media screen and (min-width: 768px) {
  body .main__landing {
    grid-template-columns: 1fr 1fr; }
    body .main__landing h1 {
      display: block;
      grid-column: span 2; }
    body .main__landing .main__landing--servicios--facturacion {
      margin-bottom: 2rem; } }

@media screen and (min-height: 1075px) {
  body .main__landing--footer {
    position: absolute;
    top: 100%; } }

/*vision escritorio grande, escritorios chicos de hasta 1400px igual que tablet*/
@media screen and (min-width: 1440px) {
  body .main__landing {
    grid-template-columns: repeat(4 1fr); }
    body .main__landing h1 {
      grid-column: span 4; }
  body .main__landing--footer {
    position: absolute;
    top: 100%; } }
