//import
@import "extra/fonts";
@import "styles-html/index.scss";
@import "styles-html/nosotros.scss";


/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*fonts*/
@font-face {
    font-family: "montserrat extrabolt";
    src: url(../font/MontserratAlternates-ExtraBold.otf);
}

@font-face {
    font-family: "montserrat bolt";
    src: url(../font/MontserratAlternates-Bold.otf );
}





body {
    background-color: #ffff;
    height: 100%;

    .main--nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        height: 100%;
        row-gap: 0px;
        text-align: center;
        font-family: "ethnocentric.rg";
        color: #6e99b3;

        .main__nosotros--resume {
            padding: 5rem;

            h2 {
                margin-bottom: 3rem;
            }
        }

        .main__nosotros--footer {
            background: linear-gradient(#ffff, #6e99b3);
            width: 100vw;
            padding: 4rem 4rem 1rem 4rem;

            h3 {
                font-size: 1em;
                color: #ffff;
            }

            img {
                height: 20px;
            }
        }
    }
}

/*estilos desktop*/
@media screen and (min-width: 768px) {
   
    body {
        .main--nosotros {
            grid-template-columns: 50% 50%;
            grid-template-rows: auto 1fr;
            width: 100%;
            justify-items: center;
            align-items: center;

            .main__nosotros--footer {
                grid-row: 2;
                color: #fff;
            }

        }
    }

}






/*estilos main.html*/
.mainmain {
    background-color: #f4f3eb;
    height: 500px;
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-items: center;
}

.mainmain div.resumen {
    color: #5c7a92;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: montserrat extrabolt;
}

.mainmain aside {
    margin-left: 50px;
    margin-right: 50px;
}

/* estilos login.html*/

.mainlogin {
    background-color: #f4f3eb;
    height: 400px;
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.mainlogin form fieldset {
    margin: 50px;
    padding: 20px;
    border: none;
    background-color: #8999a5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

legend {
    display: none;
}

.ingreso {
    margin-bottom: 20px;
}

/*agrege los input de contatacto*/
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #f4f3eb;
    color: #5c7a92;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: montserrat extrabolt;
}

input[type="submit"]:hover {
    background-color: #305b80;
}

/*estilos firstpage*/
.mainservicios {
    background-color: #f4f3eb;
    height: 500px;
    font-family: montserrat extrabolt;
    width: 100%;
    color: #5c7a92;

}


.mainservicios .divservicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-family: montserrat extrabolt;
}

.mainservicios .divservicios div .servicios-botton {
    padding: 10px 0px;
    width: 100%;
    text-align: center;

}

/*estilos contacto*/
.maincontacto {
    background-color: #f4f3eb;
    height: 100%;
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 10%;
}

.maincontacto fieldset {
    margin: 100px;
    padding: 20px;
    border: none;
    background-color: #8999a5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-family: montserrat extrabolt;
}

.maincontacto fieldset ul {
    list-style-type: none;
}

.maincontacto fieldset ul li {
    margin: 20px;
}

#mensaje {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

/*estilos nosotros*/

.mainnosotros {
    background-color: #f4f3eb;
    height: 100%;
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
}

.mainnosotros .nosotros {
    font-family: Arial, sans-serif;
    color: #305b80;
}

.mainnosotros .nosotros h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mainnosotros .nosotros p {
    text-align: center;
    margin-bottom: 2%;
    font-size: 20px;
    margin-bottom: 5%;
}

.mainnosotros aside {
    margin-left: 50px;
}

/*estilos footer*/


/*estilos imagenes*/
img.redes {
    width: 30px;
    height: 30px;
}

img.logosinbordespequeño {
    height: 20px;
    width: 134px;
}

img.cuadradagrande {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

img.pequeña {
    width: 84px;
    height: 40px;
}

img.mediana {
    width: 210px;
    height: 100px;
}

img.grande {
    width: 622px;
    height: 300px;
    overflow: hidden;
}