/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

//import
@import "html/index";
@import "html/nosotros";
@import "html/login";
@import "html/contacto";
@import "html/logo";


/*estilos firstpage*/
.mainservicios {
    background-color: #f4f3eb;
    height: 500px;
    font-family: montserrat extrabolt;
    width: 100%;
    color: #5c7a92;

}


.mainservicios .divservicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-family: montserrat extrabolt;
}

.mainservicios .divservicios div .servicios-botton {
    padding: 10px 0px;
    width: 100%;
    text-align: center;

}