//font

@font-face {
    font-family: "ethnocentric-italic";
    src: url(../font/ethnocentric.rg-italic.otf);
}

@font-face {
    font-family: "ethnocentric";
    src: url(../font/ethnocentricrg.otf);
}

@font-face {
    font-family: "roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
        );
}

$font-italic: "ethnocentric-italic";
$font-normal: "ethnocentric";
$font-roboto: "roboto"