//background map
$background: (
    bg-bl-wt: linear-gradient(#6e99b3, #d9e1e6),
    bg_wt-bl: linear-gradient(#d9e1e6, #6e99b3),
    bg_wt-bl-hz: linear-gradient(to right, #e1e9ee, #6E99B3),
    bg_bl-wt-hz: linear-gradient(to right, #6E99B3, #e1e9ee),
    )